<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    <table align="center">
      <td>
<!--        <a href="http://www.ucas.ac.cn"><img src="db_gkd.png"></a>-->
        <%= image_tag("db_gkd.png") %>
      </td>
      <td>
        <p class="text-center">中国科学院大学版权所有 © 2018</p>
        <p class="text-center">地址：北京市石景山区玉泉路19号（甲） 邮编: 100049</p>
      </td>
    </table>
  </footer>
</div>
